#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


export QT_SELECT := qt5

%:
	dh $@ --with pkgkde_symbolshelper


#override_dh_auto_install:
#        $(MAKE) DESTDIR=$$(pwd)/debian/hithere prefix=/usr install
